<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/logo.png"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Frankline Kebei</h3>
      </div>

    </div>
  </div>
</div>
<div>
  <h5><b>Copyright 2019 &copy;</b></h5>
   || <a href="www.facebook.com"><b>Facebook</b></a> ||
   <a href="www.instagram.com"><b>Instagram</b></a> || <a href="www.twitter.com"><b>Twitter</b></a> ||
   <a href="https://github.com/temkebei"><b>GitHub</b></a> ||
   <a href="https://www.linkedin.com/in/franklinekebei/"><b>Linkedin</b></a> ||
</div>
